.cam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.cam img {
    display: none;
    width: 640px;
    height: 480px;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.camera img {
    max-width: 40px;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
}

.camera button {
    background-color: #3498db;
    margin-top: 0.5%;
    color: white;
    padding: 3px 5px;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.camera button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.slider {
    margin-top: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slider div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    gap: 10px; */
}

.slider input[type="range"] {
    
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider input[type="range"]:hover {
    opacity: 1;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #3498db;
    cursor: pointer;
    border-radius: 50%;
}

.slider input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #3498db;
    cursor: pointer;
    border-radius: 50%;
}

#sliderValue {
    font-size: 1.2em;
    color: #333;
}

.slider form {
    margin-left: 20px;
}

.slider input[type="submit"] {
    margin-top: 1%;
    background-color: #3498db;
    color: white;
    padding: 8px 15px;
    border: 3px solid black;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.slider input[type="submit"]:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* ------- LOADING SECTOR -------- */

.loading {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content {
    text-align: center;
}

