<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <title>Smart HUB</title>
        <script>
            function updateTime() {
                var now = new Date();
                var hours = String(now.getHours()).padStart(2, '0');
                var minutes = String(now.getMinutes()).padStart(2, '0');
                var seconds = String(now.getSeconds()).padStart(2, '0');
                var timeString = hours + ':' + minutes + ':' + seconds;
                document.getElementById('clock').innerText = timeString;
            }
            setInterval(updateTime, 1000);
            window.onload = updateTime;
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"> 
        {% block css %}{% endblock %}
        <!-- add css file link -->
    </head>
    <body>
        <div class="container">
            <div class="line">
                <div id="clock" class="clock">
                    {{ current_time }}
                </div>
                <div class="weather">
                    {% if weather_info %}
                        {% if weather_info.description == "nublado" %}
                            <img src="../static/images/w_cloudy.png" alt='day_cloudy'>
                        {% else %}
                            <img src="../static/images/w_n_rainny.png" alt="night_rainny">
                        {% endif %}
                        <p> {{ weather_info.temperature }}°C - {{weather_info.description}}</p>
                    {% else %}
                        <p>Não foi possível obter a previsão do tempo.</p>
                    {% endif %}
                </div>
                
            </div>
            
            <div class="hub">
                <h1>Smart HUB - Moratellix</h1>
            </div>
        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
