{%extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block content %}
<div class="frame">
    <div>
        <!-- <form action="#" method="get">
            <input type="submit" name="lumi" value="luz">
        </form> -->
        <button onclick="window.location.href='/ledon'">
            <img src="../static/images/lightBulb.svg" alt="lightBulb">
        </button>
    </div>
    <div>
        <button onclick="window.location.href='/cam'">
            <img src="../static/images/camlock.png" alt="camlock">
        </button>
    </div>
    <div>
        <button onclick="window.location.href='/temp'">
            <img src="../static/images/thermometer.svg" alt="thermometer">
        </button>
    </div>
</div>

{% endblock %}
