{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='temp.css') }}">
{% endblock %}

{% block content %}
<div class="rtrn">
    <button onclick="window.location.href='/main'">
        <img src="../static/images/return.png" alt="return">
    </button>
</div>
<div>
    <form method="POST" action="/temp">
        <input type="text" placeholder="insira uma cidade" id="city" name="city"/>
        <button type="submit">Pesquisar</button>
    </form>
</div>
<div class="clima">
    <h1>Previsão do Tempo para {{ weather_info.city }}</h1>
    {% if weather_info %}
        {% if weather_info.description == "nublado" or
        weather_info.description == "nuvens dispersas" or weather_info.description == "algumas nuvens" %}
            <img src="../static/images/w_cloudy.png" alt='day_cloudy'>
        {% elif weather_info.description == "chuva" %}
            <img src="../static/images/w_rainny.png" alt="day_rainny">
        {% else %}
            <img src="../static/images/w_sunny.png" alt="day_sunny">
        {% endif %}
    {% else %}
        <p style="color: red;">Não foi possível obter a previsão do tempo.</p>
    {% endif %}
    {% if weather_info %}
        <h2>Previsão do Tempo para {{ weather_info.city }}</h2>
        <p>Temperatura Atual: {{ weather_info.temperature }}°C</p>
        <p>Sensação Térmica: {{ weather_info.feels }}°C</p>
        <p>Temperatura Mínima: {{ weather_info.min }}°C</p>
        <p>Temperatura Máxima: {{ weather_info.max }}°C</p>
        <p>Pressão Atmosférica: {{ weather_info.pressure }} hPa</p>
        <p>Umidade: {{ weather_info.humidity }}%</p>
        <p>Descrição: {{ weather_info.description }}</p>
        <p>Velocidade do Vento: {{ weather_info.wind }} m/s</p>
        <p>Nascer do Sol: {{ weather_info.sunrise }}</p>
        <p>Pôr do Sol: {{ weather_info.sunset }}</p>
    {% else %}
        <p>Não foi possível obter a previsão do tempo.</p>
{% endif %}
</div>

{% endblock %}
